{% extends "base.html" %}
{% block content %}

<div class="card">
<h1>Skills</h1>
<ul>
  <li>Technical Support & Troubleshooting</li>
  <li>Networking (OSI, TCP/IP, Subnetting)</li>
  <li>Windows Administration & PC Hardware</li>
  <li>Cloud & Server Administration</li>
  <li>Python Scripting</li>
  <li>Cybersecurity Fundamentals</li>
  <li>ERP Systems (Autoline, DMS)</li>
  <li>Process Improvement & Business Analysis</li>
  <li>Team Leadership & Service Delivery</li>
  <li>Customer Support & Communication</li>
</ul>
</div>

{% endblock %}
